PORT=3000
NODE_ENV=development

DATABASE_HOST=localhost
DATABASE_USER=user
DATABASE_PASSWORD=password
DATABASE_NAME=savoirci_quiz
DATABASE_URL="mysql://user:password@localhost:3306/savoirci_quiz"

REDIS_URL="redis://localhost:6379"
SESSION_TTL=3600

QUESTION_TIME_LIMIT=15
